name: deploy-docs

# Only run this when the main branch changes
on:
  push:
    branches:
      - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch
    steps:
      - uses: actions/checkout@v4

      # Install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      # Install Python (pinned to a version is best practice)
      - name: Set up Python
        run: uv python install 3.12

      # Install dependencies (including jupyter-book)
      - name: Install dependencies
        run: uv sync --all-extras --dev

      # Build the book
      - name: Build the book
        run: uv run jupyter-book build docs/

      # Push the book's HTML to the gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
